/* Barra negra superior e inferior */
.black-bar {
    height: 50px;
    background-color: #000000;
}

/* Estilos para la disposición del login */
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh; /* Asegura que todo el contenido use el 100% de la pantalla */
    overflow: hidden; /* Evita el desplazamiento vertical */
}

.login-content {
    flex-grow: 1; /* Permite que el contenido del login ocupe el espacio disponible */
    display: flex;
    justify-content: center;
    align-items: center; /* Centra el formulario vertical y horizontalmente */
}

/* Elimina márgenes y ajustes que causen desbordamiento */
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Asegura que no haya desplazamiento en la página */
}

/* Otros estilos */
.h-custom {
    height: auto; /* Evita que el contenedor del login ocupe más espacio del necesario */
}

@media (max-width: 450px) {
    .h-custom {
        height: 85%;
    }
}

